body{
    background:$mainBgColor;
}
.searchResult{
    color: $mainTextColor;
    li{
    width: 80%;
    background: $secondaryBgColor;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: .5rem;
    a{
     color: $mainTextColor;
    }
    }
}
