.sideBarParent{
   position: relative;
}
.sideBar{
   background-color: $secondaryBgColor;
   height: 100vh;
   z-index: 1111;
   position: absolute;
   width: 100%;
   left: 0;
   a{
      color: $mainTextColor;
      text-transform: capitalize;
      width: 100%;
      text-align: left;
      padding-left: .5rem;
      transition: .2s all;
      -webkit-transition: .2s all;
      -moz-transition: .2s all;
      -ms-transition: .2s all;
      -o-transition: .2s all;
}
   a:hover{
      color: $mainTextColor;
      background-color: #111317;
     
   }
   
    .link-dark.rounded{
      color: $secondaryTextColor;
    }
    .link-dark.rounded:hover{
     background: none;
     color: #979597!important;
   }
   .content:hover{
      background: none;
   }

   .btn-toggle i {
      transition: transform .35s ease;
      transform-origin: 0.5em 50%;
      -webkit-transition: transform .35s ease;
      -moz-transition: transform .35s ease;
      -ms-transition: transform .35s ease;
      -o-transition: transform .35s ease;
    }
    
    .btn-toggle[aria-expanded="true"] i {
       transform: rotate(90deg);
    }
}