/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/*variables*/
/*coolors*/
@import url("https://fonts.google.com/specimen/Public+Sans");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.google.com/specimen/Barlow");
@import url("https://fonts.google.com/specimen/Fraunces");
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bellefair", serif;
  background-color: #111317;
  background-position: bottom;
  background: linear-gradient(0deg, rgba(11, 12, 16, 0.75), rgba(11, 12, 16, 0.72)), url(../../assets/bx-search.svg);
  background-size: revert;
  /* left: 200px; */
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  font-family: "Poppins", sans-serif;
}

button:focus, input:focus {
  box-shadow: 0 0 0 0.25rem rgba(99, 230, 193, 0.12);
}

.form-control:focus {
  border-color: #66fcf1;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

p {
  font-size: 15px;
}

img {
  cursor: pointer;
}

ul li {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #66fcf1;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-size: 42px;
}

nav a, nav i.nav-link a {
  color: #66fcf1;
}

nav a:hover, nav i.nav-link a:hover {
  color: #66fcf1;
}

.nav-item a {
  color: #66fcf1;
}

.nav-item a:hover {
  color: #66fcf1;
}

.nav-link:focus, .nav-link:hover {
  color: #66fcf1;
}

.navbar-toggler-icon {
  color: #66fcf1 !important;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: #111317;
}
::-webkit-scrollbar-thumb {
  background-color: #66fcf1;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.nav {
  background-color: #0B0C10;
  position: fixed;
  width: 100%;
  z-index: 11111;
}

.btn-outline-success {
  color: #66fcf1;
  border-color: #66fcf1;
}

.btn-outline-success:hover {
  color: white;
  background-color: #66fcf1;
}

.search {
  margin: auto;
  /* text-align: center; */
  color: #66fcf1;
  text-align: center;
}

.sideBarParent {
  position: relative;
}

.sideBar {
  background-color: #0B0C10;
  height: 100vh;
  z-index: 1111;
  position: absolute;
  width: 100%;
  left: 0;
}
.sideBar a {
  color: #66fcf1;
  text-transform: capitalize;
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
.sideBar a:hover {
  color: #66fcf1;
  background-color: #111317;
}
.sideBar .link-dark.rounded {
  color: #485452;
}
.sideBar .link-dark.rounded:hover {
  background: none;
  color: #979597 !important;
}
.sideBar .content:hover {
  background: none;
}
.sideBar .btn-toggle i {
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  -webkit-transition: transform 0.35s ease;
  -moz-transition: transform 0.35s ease;
  -ms-transition: transform 0.35s ease;
  -o-transition: transform 0.35s ease;
}
.sideBar .btn-toggle[aria-expanded=true] i {
  transform: rotate(90deg);
}

body {
  background: #111317;
}

.searchResult {
  color: #66fcf1;
}
.searchResult li {
  width: 80%;
  background: #0B0C10;
  padding: 20px 15px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.searchResult li a {
  color: #66fcf1;
}/*# sourceMappingURL=searchResultpr.css.map */