
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*variables*/
/*coolors*/
$mainTextColor: #66fcf1;
$mainBgColor : #111317;
$secondaryBgColor:#0B0C10;
$secondaryTextColor:#485452;